<mat-card class="editor-card">
  <mat-card-header>
    <mat-card-title>{{ isEdit ? 'Editar Post' : 'Nuevo Post' }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" placeholder="Escribe un título" />
        <mat-error *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
          El título es obligatorio
        </mat-error>
      </mat-form-field>

      <angular-editor
        formControlName="content"
        [config]="editorConfig"
        style="background-color: white; color: black"
      ></angular-editor>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Slug</mat-label>
        <input matInput formControlName="slug" placeholder="Escribe un slug para la URL" />
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter tags" formControlName="tags">
          @for (tag of tags(); track tag) {
          <mat-chip-row
            (removed)="remove(tag)"
            [editable]="true"
            (edited)="edit(tag, $event)"
            [aria-description]="'press enter to edit ' + tag"
          >
            <button matChipEdit [attr.aria-label]="'edit ' + tag">
              <mat-icon>edit</mat-icon>
            </button>
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <!-- <div class="file-input">
        <button type="button" mat-stroked-button (click)="fileInput.click()">
          <mat-icon>image</mat-icon>
          Seleccionar imagen
        </button>
        <input
          #fileInput
          type="file"
          (change)="onFile($event)"
          accept="image/*"
          style="display: none"
        />
      </div> -->

      @if (preview) {
      <div class="preview-container">
        <p class="mat-caption">Previsualización:</p>
        <img [src]="preview" alt="preview" class="preview-image" />
      </div>
      }

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          <mat-icon>{{ isEdit ? 'save' : 'add' }}</mat-icon>
          {{ isEdit ? 'Guardar cambios' : 'Crear post' }}
        </button>
        <a mat-button routerLink="/">Cancelar</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
