<div class="post-list">
  <div class="post-list__header">
    <h1></h1>
    <a mat-fab color="primary" routerLink="/new" aria-label="Nuevo post">
      <mat-icon>add</mat-icon>
    </a>
  </div>

  @if (posts().length) {
  <div class="post-list__grid">
    @for (post of posts(); track post.id) {
    <post-item [post]="post" />
    }
  </div>
  } @else {
  <div class="post-list__empty">
    <p>No hay posts disponibles</p>
    <a mat-raised-button color="primary" routerLink="/new"> Crear el primer post </a>
  </div>
  }
</div>
